<app-menu-title></app-menu-title>

<div class="container_articles">

    <div class="articles_main">

        <app-big-card 
        id="1"
        photoCover="https://repository-images.githubusercontent.com/24195339/87018c00-694b-11e9-8b5f-c34826306d36"
        cardTitle="Foi lançada nova versão do Angular"
        cardDescription="Angular atualiza para a nova versão 15 e traz novas funcionalidades."
        ></app-big-card>

    </div>

    <div class="articles_others">

        <app-small-card
        id="2"
        photoCover="https://miro.medium.com/v2/resize:fit:1200/0*myzb7qL_EWSX1QiH.png"
        cardTitle="O que é TypeScript?"
        ></app-small-card>

        <app-small-card
        id="3"
        photoCover="https://static.vecteezy.com/ti/fotos-gratis/t2/12830352-varios-bancos-de-dados-sao-colocados-em-tabelas-de-bancos-de-dados-relacionais-com-sala-de-servidores-e-plano-de-fundo-do-datacenter-conceito-de-servidor-de-banco-de-dados-sql-armazenamento-de-dados-design-de-diagrama-de-banco-de-dados-ilustracao-3d-foto.jpg"
        cardTitle="O que é um banco de dados?"
        ></app-small-card>

        <app-small-card
        id="4"
        photoCover="https://www.panggi.com/images/featured/python.png"
        cardTitle="Programe de maneira fácil com Python"
        ></app-small-card>
        
    </div>
</div>
